@import "tailwindcss";

:root {
  --background: #F4E1D4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, #FDF7F3, #F4E1D4, #E8D0C1);
}
}